# Gradle
.gradle/
build/
local.properties

# IDE
.idea/
*.iml
*.iws
*.ipr
.DS_Store

# APK
*.apk
*.aab
*.ap_
app/release/

# Signing
*.jks
*.keystore

# Kotlin
*.class

# Misc
captures/
.externalNativeBuild/
.cxx/
